@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);

@import url(http://fonts.googleapis.com/css?family=News+Cycle);

h2{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #F2836B;
}

h1{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #F2594B;
	text-align: center;	
}

aside {
	width: 230px;
	position: fixed;
	top: 0;
	font-size: 17px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	background: #63A69F;
}

header {
	font-size: 45px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #CD2C24;
	text-align: center;
}

p {
	font-family: 'News Cycle', sans-serif;
	font-size:14px;
	color: #63A69F;
	line-height: 21px;
}

a:link {
	color: #CD2C24;
}

a:visited {
	color: #F2836B;
}

img {
	margin: 10px;
}

.wrap {
	margin-left:230px;
	max-width: 700px;
	background: #F2E1AC;
	padding: 20px;
}

dd {
	color: #63A69F;
	font-family: 'News Cycle', sans-serif;
	font-size:14px;
	line-height: 21px;
}

dt {
	font-family: 'News Cycle', sans-serif;
	font-size:14px;
}